{% extends "base.html" %}

{% block title %}Personal Account{% endblock %}

{% block content %}
    <h2>Personal account</h2>
    <h3>User data</h3>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Date of Birth: {{ user.date_of_birth }}</p>
    <p>Phone Number: {{ user.phone_number }}</p>

    <h3>Orders</h3>
    {% if orders %}
        <ul>
        {% for order in orders %}
            <li>Order {{ order.id }}, made on {{ order.creation_date }}</li>
            <ul>
            {% for item in order.items.all %}
                <li>
                    <a href="{% url 'travel:trip_details' item.trip.id %}">
                        <img src="{{ item.trip.image.url }}" alt="{{ item.trip.image }}" width="100" height="100">
                    </a>
                    {{ item.trip }} - {{ item.cost }} - quantity: {{ item.quantity }}
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    {% else %}
        <p>No orders.</p>
    {% endif %}
{% endblock %}
